@import "../Navbar/NavBar.scss";
@import "../Cards/Cards.scss";
@import "../ShareButton/ShareButton.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
