//--------------NavBar-----------------//

$--mainColor: #29335C;
$--mainColorLight: #5767aa;
$--secenderyColor: #DB2B39;
$--textColor: gray;

  // ----------socialLinks colors------------ //
  $--twitter-color: #1da1f2;
  $--facebook-color: #3b5998;
  $--close-color: #000;
  $--discord-color: #7289DA;
  $--whatsapp-color: #25d366;
  $--gradient-start-color: #ff512f;    
  $--gradient-end-color: #dd2476;    
  $--icon-color: #fff;  
  $--custom-black-color: rgba(0, 0, 0, 0.1);
  $--translucent-White: rgba(255, 255, 255, 0.5);

  // ----------Paginations colors------------ //
$primaryColor_background: rgb(240, 240, 238);
$primaryColor_active: rgb(203, 203, 202);
$primaryColor_outline: rgb(138, 138, 136);

$secondaryColor_background: rgb(199, 183, 214);
$secondaryColor_active: rgb(187, 159, 212);
$secondaryColor_outline: rgb(170, 125, 210);

$boxshadowColor: rgba(0, 0, 0, 0.2);

