footer button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
    margin-bottom: 10px;
    }
    
    footer button:hover {
      background-color: rgb(185, 0, 49);
    }
